*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}


body{

    font-family:Arial, sans-serif;
    background:#fff8f0;

}



/* Header */

header{

    background:#8B0000;
    color:white;
    text-align:center;
    padding:25px;

}


header h1{

    text-transform:uppercase;

}


header p{

    text-transform:capitalize;

}



/* Hero Background Image */

.hero{

    height:500px;

    background-image:
    linear-gradient(
    rgba(0,0,0,0.5),
    rgba(0,0,0,0.5)
    ),
    url("https://images.unsplash.com/photo-1517248135467-4c7edcad34c4");

    background-size:cover;

    background-position:center;

    display:flex;

    justify-content:center;

    align-items:center;

    text-align:center;

}



.hero-content{

    color:white;

}



.hero h2{

    font-size:45px;

    text-transform:uppercase;

}



.hero p{

    font-size:22px;

    margin:20px;

}



.btn{

    background:#ff5722;

    color:white;

    padding:15px 35px;

    border-radius:30px;

    text-decoration:none;

    font-size:20px;

}



.btn:hover{

    background:#e64a19;

}





/* Menu */

.menu{

    padding:50px;

    text-align:center;

}



.menu h2{

    text-transform:uppercase;

    margin-bottom:30px;

}



.menu-container{

    display:flex;

    flex-wrap:wrap;

    justify-content:center;

    gap:20px;

}



.card{

    background:white;

    width:250px;

    padding:25px;

    border-radius:20px;

    box-shadow:0 0 10px gray;

}



.card h3{

    color:#8B0000;

    text-transform:capitalize;

}



.card p{

    margin:15px;

}





/* About */

.about{

    padding:40px;

    text-align:center;

}



.about h2{

    text-transform:uppercase;

    margin-bottom:15px;

}





/* Order */

.order{

    background:#ffe0b2;

    padding:40px;

    text-align:center;

}



.order input{

    padding:12px;

    margin:10px;

    border-radius:10px;

    border:1px solid gray;

}



button{

    background:green;

    color:white;

    padding:12px 30px;

    border:none;

    border-radius:25px;

}



button:hover{

    background:darkgreen;

}





/* Contact */

.contact{

    padding:40px;

    text-align:center;

}



.contact p{

    margin:10px;

}




footer{

    background:#222;

    color:white;

    text-align:center;

    padding:20px;

}