*{

    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:Arial, sans-serif;

}



body{

    background:#f4f7fb;

}




/* Header */

.header{

    background:linear-gradient(135deg,#2563eb,#7c3aed);

    color:white;

    text-align:center;

    padding:60px;

}



.header h1{

    font-size:40px;

    font-weight:bold;

    text-transform:uppercase;

    margin-bottom:20px;

}



.header h2{

    font-size:22px;

}



.header p{

    font-size:18px;

    margin-top:15px;

}





/* Sections */


.about,
.skills,
.projects,
.contact{


    margin:30px;

    padding:35px;

    background:white;

    border:2px solid #ddd;

    border-radius:20px;


}




h2{

    text-align:center;

    text-transform:uppercase;

    font-size:30px;

    margin-bottom:25px;

}




.about p{

    text-align:center;

    font-size:18px;

    line-height:1.7;

}





/* Cards */


.skill-container,
.project-container{


    display:flex;

    justify-content:center;

    gap:20px;

    flex-wrap:wrap;


}




.card{


    width:250px;

    padding:25px;

    background:#eef2ff;

    border:2px solid #6366f1;

    border-radius:15px;

    text-align:center;


}




.card h3{

    font-size:22px;

    margin-bottom:10px;

}




.card:hover{


    transform:translateY(-10px);

    background:#dbeafe;


}




/* Contact */


/* Contact Links */

.contact-box{

    display:flex;

    justify-content:center;

    gap:25px;

    flex-wrap:wrap;

}



.contact-box a{

    text-decoration:none;

    color:#111827;

    font-size:18px;

    font-weight:bold;

    padding:15px 20px;

    border-radius:15px;

    border:2px solid #ddd;

    background:white;

    transition:0.3s;

}



.contact-box i{

    font-size:25px;

    margin-right:8px;

}


/* Icon Colors */

.fa-envelope{

    color:#ea4335;

}


.fa-linkedin{

    color:#0077b5;

}


.fa-github{

    color:#000;

}


.fa-whatsapp{

    color:#25D366;

}



/* Hover Effect */

.contact-box a:hover{

    transform:translateY(-8px);

    background:#2563eb;

    color:white;

    border-color:#2563eb;

}



.contact-box a:hover i{

    color:white;

}





/* Footer */


footer{


    background:#111827;

    color:white;

    text-align:center;

    padding:20px;


}